<header>
    <nav>
        <a href="/" class="brand-logo center">
            <i class="material-icons">videogame_asset</i>My Cool Game  Trending App
        </a>
    </nav>
</header>
<main class="container">
